<a [routerLink]="['/receipt']" routerLinkActive="router-link-active" >receipt</a>
<ng-container *ngIf="!posting">
  <button (click)="onPost()">Post</button>
  <p>(this will open a new window, posting to <a href="https://httpbin.org">httpbin.org</a> where you can see the raw submitted payload - and other diagnostic information)</p>
</ng-container>
<ng-container *ngIf="posting">
  Preparing post, please wait...
  <form ngNoForm #myFormPost name="myFormPost"
    action="https://test.authorize.net/payment/payment"
    method="POST"
    target="paytm">
  <input type="text" #poptoken id="popupToken" name="token" value="{{token}}" />
  </form>
  <button (click)="onReset()">Reset</button>
  <iframe name="paytm" width="100%" height="600px" frameBorder="1" src="https://test.authorize.net/payment/payment"></iframe>
</ng-container>

<router-outlet></router-outlet>
